@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #888;
}
body::-webkit-scrollbar-thumb {
  background: #000;
}

.Defaults {
  @apply min-h-[100vh]
  dark:text-white dark:bg-gray-800;
}

.holder {
  @apply px-24;
}
