@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke {
    @apply text-main;
    --main: theme(colors.main);
    --dark-main: theme(colors.dark-main);
    text-shadow: -1px -1px 0 var(--dark-main), 1px -1px 0 var(--dark-main),
      -1px 1px 0 var(--dark-main), 1px 1px 0 var(--dark-main);
  }
  .dark .text-stroke {
    @apply text-dark-main;
    --main: theme(colors.main);
    --dark-main: theme(colors.dark-main);
    text-shadow: -1px -1px 0 var(--main), 1px -1px 0 var(--main),
      -1px 1px 0 var(--main), 1px 1px 0 var(--main);
  }

  .text-stroke:hover {
    @apply dark:text-main text-dark-main;
    text-shadow: none;
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #888;
}
body::-webkit-scrollbar-thumb {
  background: #000;
}

h1 {
  @apply font-semibold text-4xl sm:text-6xl md:text-7xl;
}

input[type="text"] {
  @apply bg-transparent border-2 border-black dark:border-white rounded-lg pl-2;
}

textarea {
  @apply bg-transparent border-2 border-black dark:border-white rounded-lg pl-2 resize-none;
}

.defaults {
  @apply min-h-[100vh]
  text-black bg-main
  dark:text-white dark:bg-dark-main;
}

.contain {
  @apply container mx-auto px-6 sm:px-16 md:px-40;
}

.holder {
  @apply px-12 md:px-24 lg:px-36 xl:px-48;
}

.input-field {
  @apply bg-transparent border-2 border-white rounded-lg pl-2;
}

.grid_hover_effect {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 35%,
    rgba(0, 0, 0, 0.3) 100%
  );
  opacity: 1;
}

.dark .dark\:grid_hover_effect {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.5) 100%
  );
  opacity: 1;
}
