@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke-color: white;
  }
  .text-stroke-black {
    -webkit-text-stroke-color: black;
  }

  .text-stroke-0 {
    -webkit-text-stroke-width: 0;
  }
  .text-stroke-2 {
    -webkit-text-stroke-width: 0.05rem;
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #888;
}
body::-webkit-scrollbar-thumb {
  background: #000;
}

.defaults {
  @apply min-h-[100vh]
  text-black bg-main
  dark:text-white dark:bg-dark-main;
}

.holder {
  @apply px-24;
}
