:root {
  --dasharray-val: 500;
}

.text-line {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: dash var(--ani-length-weighted) linear forwards,
    var(--ani-delay) filling 200ms ease-in forwards;
  animation-delay: var(--ani-delay);
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
